#map { height: 600px;    
    width: 70%;
    display: inline-block;
    }
.legend{display:inline-block;

}
.sequence{
    display:inline-block;
}
.form{
    display:block;
}
.dropdown{
    display:block;
}